client_max_body_size 8M;

server {
    root /var/www/html;
    index index.html index.php;

    server_name api.{{ core.domain.sub }}.{{ core.domain.ext }};

    location / {
        try_files $uri $uri/ =404;
    }

}
